*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #0c1022;
    color: #fff;

}
header{
    position: relative ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
    background: linear-gradient(45deg,#f06,#3cf);
    padding: 0 10px;
    
}
.navbar a{
font-size: 18px;
color: #fff;
text-decoration: none;
font-weight: 500px;
margin-left: 35px;

}
.home{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10%;
}
.home-content{
    max-width: 500px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    

}
.home-content h3{
    font-size: 32px ;
    font-weight:700 ;

}
.home-content p{
    font-size: 16px;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: yellowgreen;
    border-radius: 40px;
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;


}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    background-size: cover;
    padding:70px;
  
  }
 
  
  .about-text h2{
  font-size: 60px;
  }
  .about-text h2 span{
      color:rgb(137, 85, 18); 
  }
  
  .about-text h3{
      font-size: 29px;
      font-weight: 600;
      color: beige;
      line-height: 1.7;
      margin:15px 0 30px;
     
  }
  .about-text p{
      font-size: 20px;
      font-weight: 600;
      color: aliceblue;
      line-height: 1.4;
      margin-bottom: 4rem;
     
  }
  #parameter{
      display: flex;
      flex-wrap: wrap;
  }
  
  .skill h1{
      text-align: center;
      font-size: 60px;
      font-weight: 700;
  
  }
  .skill span{
      color:rgb(137, 85, 18);
  }
  h3{
      margin:5px;
  }
  .skill{
      width:500px;
      margin:60px auto;
      color: aliceblue;
      padding: 20px;
      box-shadow: 0 14px 28px rgba(0,0,0,0,25), 0 10px 10px
  rgba(0,0,0,0,22);
  
  }
  .skill li{
      margin: 20px 0;
      padding: 10px;
  }
  .bar{
      background: #353b48;
      display:block;
      height:20px;
      border:1px solid rgba(0,0,0,0,3);
      border-radius: 10px;
      overflow: hidden;
      box-shadow:0 1px 3px rgba(0,0,0,0,25), 0 1px 2px
      rgba(0,0,0,0,22); 
      transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
  }
  .bar:hover{
     box-shadow:  0 14px 28px rgba(0,0,0,0,25), 0 10px 10px
  rgba(0,0,0,0,22);
  }
  .bar span{
      height: 20px;
      float:left;
      background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
  
  }
  .html{
      width: 90%;
      animation: html 3s;
  }
  .css{
      width: 70%;
      animation: css 3s;
  }
  .javascript{
      width: 50%;
      animation: javascript 3s;
  }
  .python{
      width: 66%;
      animation: python 3s;
  }
  @keyframes html{
      0%{
          width:0%;
      }
      100%{
          width:90%;
      }
  }
  @keyframes css{
      0%{
          width:0%;
      }
      100%{
          width:70%;
      }
  }
  @keyframes javascript{
      0%{
          width:0%;
      }
      100%{
          width:50%;
      }
  }
  @keyframes python{
      0%{
          width:0%;
      }
      100%{
          width:66%;
      }
  }
  .container{
      width:100%;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
    
  }
  main.row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
  }
 
 .title h2{
    
    font-size: 100px;
    font-weight: 500;
    color: #e18b22;
  }
  
  .col .contents{
      padding: 0px 30px;
      border-left: 2px solid rgb(242, 238, 231);
  }
  .col .contents .box{
      position: relative;
      padding:20px;
      border: 1px solid rgb(237, 231, 227);
      background-color: rgb(35, 36, 37);
      cursor: pointer;
      transition: all 0.4s;
      margin-bottom: 20px ;
  }
  .col .contents .box:hover{
      box-shadow: 0px 3px 12px 0px #e18b22;
      border: 1px solid transparent;
  }
  .col .contents .box::before{
      content:'';
      position:absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      right: calc(100% + 22px);
      top: 0;
      background-color: #e18b22;
      border: 2px solid white;
  }
  .box h4{
      position: relative;
      color: rgb(137, 85, 18);
  
  }
  .box h3{
      font-size: 19px;
      padding: 10px 0px 6px;
      font-family: helvetica;
      color: aliceblue;
  }
  .box p{
      line-height: 1.2;
      color: bisque;
      font-size: 17px;
  }
  
  
  
  
  .contact{
      display: grid;
      
      background-size: cover;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap:3rem;
      padding-left: 30px;
      margin-top: 130px;
  
  }
  .contact-text h2{
      font-size: 90px;
      line-height: 1;
      text-align: center;
  }
  .contact-text h2 span{
      color: rgb(137, 85, 18);
  }
  .contact-text h4{
      margin:15px 0;
      color: antiquewhite;
      font-size: 20px;
      font-weight: 600;
  }
  .contact-text p{
      color: antiquewhite;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 2rem;
  
  }
  .contact-list{
      margin-bottom: 3rem;
  }
  .contact-list li{
      margin-bottom: 10px;
      display: block;
  }
  .contact-list li{
      margin-bottom: 10px;
      display: block;
  }
  .contact-list i{
     display: inline-block;
     color: rgb(240, 156, 13);
     font-size: 20px;
     font-weight: 600;
     transition: all .40s ease;
  }
  .contact-list li a:hover{
      transform: scale(1.01) translateY(-5px);
      color: rgb(137, 85, 18);
  }
  
  
  .contact-form form{
       position: relative;
  }
  .contact-form form input,form textarea{
  
      border: none;
      outline: none;
      width: 90%;
      padding: 18px;
      background: whitesmoke;
      color: rgb(171, 102, 54);
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
  }
  .contact-form textarea{
      resize:none ;
      height:220px;
  
  }
  .contact-form form .send{
      display: inline-block;
      padding: 12px 28px;
      background: rgb(137, 85, 18);
      border-radius: 40px;
      font-size: 16px;
      color:white;
      letter-spacing: 1px;
      text-decoration: none;
      font-weight: 600;
      
  }
  .contact-form form .send:hover{
      background-color: rgb(240, 156, 13);
      color: black;
  }
  
  .container{
      max-width: 1170px;
      margin:auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  ul{
      list-style: none;
  }
  .footer{
      background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }
  @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
 